backplataformaweb.txt
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5234fb23-85c7-4ef4-91d1-0f28bf6ddd26",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3260,
        -100
      ],
      "id": "886ba229-5772-4083-8b1d-e6f5959d1092",
      "name": "Webhook",
      "webhookId": "5234fb23-85c7-4ef4-91d1-0f28bf6ddd26"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.message }}{{ $json.texto }}{{ $json.content }}",
        "options": {
          "systemMessage": "=Você é uma IA que resolve dúvidas acadêmicas da Universidade X\nConsulte os dados na tool ´consultardados´\n\nNão utilize \"*\" nas suas respostas. Sempre de enter em cada parágrafo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -420,
        -140
      ],
      "id": "3c18340f-6b59-40cb-a47e-0c5cde06f178",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        240
      ],
      "id": "ed5b4092-ad6a-44f5-a0e1-1f8ad24865e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4LPhixDkcdbgT7Di",
          "name": "ZAFIR BDR"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.user_id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -420,
        240
      ],
      "id": "cda075fb-d18b-4137-9284-e3cab5e3cd76",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "89a803fc-d020-46f7-bde9-29e7871e58f5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Tratamento de Dados\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 760,
        "width": 1320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2020,
        -100
      ],
      "id": "07506a46-f0a1-4494-adab-060ca5511a56",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7066ff08-1370-464f-a588-86aa37025523",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a02c0ebe-fb3e-41c5-8b59-4a5d1a236abe",
      "name": "edit1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        -20
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "29469d7f-18f8-4b2d-ab3e-63924c0c91f0",
      "name": "OpenAIAudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        -1380,
        -20
      ],
      "credentials": {
        "openAiApi": {
          "id": "4LPhixDkcdbgT7Di",
          "name": "ZAFIR BDR"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.png",
          "mimeType": "image/png"
        }
      },
      "id": "dbcf9ad0-c7b4-40eb-9b4d-09affc1dbe99",
      "name": "Convert to File4",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1680,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $json[\"body\"][\"image\"].split(\",\")[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "57223cc3-2a15-4eb4-b6a6-e15661896fbf",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1880,
        220
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva todo o conteudo da imagem. Responda sem acento, sem hifens",
        "inputType": "base64",
        "options": {}
      },
      "id": "8f23b02a-19e3-463d-abd7-6d0377e14558",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1380,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "4LPhixDkcdbgT7Di",
          "name": "ZAFIR BDR"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $json.body.audio }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5ee22897-aacd-43c3-a4c6-630b9b5354e7",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1880,
        -20
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60065893-74f7-4b64-bc1a-d891202efa78",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e05294c8-d96b-449b-bb8b-ebb9261c5067",
                    "leftValue": "={{ $json.body.image }}",
                    "rightValue": "=imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82cab4ee-a635-4067-811b-6ddd4d6384df",
                    "leftValue": "={{ $json.body.pdf }}",
                    "rightValue": "PDF",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "id": "867c5e61-2b39-4615-8e9e-a41f8d415b93",
      "name": "Compara tipo de mensagem1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1880,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b85e2e6-cb72-4488-8ad1-64fa78e7a5ad",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "[AUDIO]",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3040,
        -100
      ],
      "id": "c8ba66ec-0bf9-4f49-b12f-583c1911d593",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Function: DecodeWebM\nconst full = items[0].json.data;           // \"data:audio/webm;base64,AAAA…\"\nif (!full.startsWith('data:')) {\n  throw new Error('Esperava um Data URI em items[0].json.data');\n}\nconst [, base64] = full.split(',');\nconst buffer = Buffer.from(base64, 'base64');\n\nitems[0].binary = {\n  data: {\n    data: buffer,\n    mimeType: 'audio/webm',\n    fileName: 'recording.webm',\n  }\n};\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1660,
        -20
      ],
      "id": "fd4e4265-bd1d-4b12-a9b7-1b38a3cee1e5",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24b74f6d-31c8-4329-8e5d-84f324ae74e3",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "33bf387a-fcaf-48b4-aeba-bc9038dbe234",
              "leftValue": "={{ $json.body.image }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2840,
        160
      ],
      "id": "7d2cfd58-a88d-4d2a-8d46-e4bc557821db",
      "name": "If1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "documentId": {
          "__rl": true,
          "value": "12n3ZtVZoFDqj43VKxbshbpjcpdVowBl2wu7gXYB1ZiM",
          "mode": "list",
          "cachedResultName": "simulado universidade",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12n3ZtVZoFDqj43VKxbshbpjcpdVowBl2wu7gXYB1ZiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12n3ZtVZoFDqj43VKxbshbpjcpdVowBl2wu7gXYB1ZiM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -240,
        340
      ],
      "id": "d5842409-e607-46eb-be22-7499ddb4ba6f",
      "name": "consultardados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7sRmeg58qfhXIkM1",
          "name": "GRUPO HERNANDES ACCOUNT"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a6968abe-e677-482c-9ac1-1ae5edf5563c",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        20,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "OOxDEbZJ2XIMFe6q",
          "name": "OpenAi APIZAFIR | VENDEDOR - GALPÃO MÓVEIS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagem do WhatApp a ser dividia e formatada: {{ $json.output }}.\n\nVocê deve substuir todo \"**\" por \"*\" que contenha nessa mensagem.\n\nMensagens vazias devem ser eliminadas e não devem ser enviadas.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=## Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas e essa estrutura de markdown whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja uma exclusão de calendário)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)\n\nTudo o que for link, pode colocar entre \"`\", ou seja, na seguinte formatação: `www.link.com.br`\n"
            }
          ]
        }
      },
      "id": "97f26b2c-314e-46e9-a01f-68fded080f35",
      "name": "Parser  Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        20,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Respostas\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 760,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        -120
      ],
      "id": "0cca3f20-56d4-4e07-9125-2ba0b38a62f8",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parser  Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "edit1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAIAudio": {
      "main": [
        [
          {
            "node": "edit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara tipo de mensagem1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAIAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compara tipo de mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultardados": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser  Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n.grupohernandes.com",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36",
          "content-length": "146",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
          "content-type": "application/json",
          "origin": "https://preview--engage-data-direct.lovable.app",
          "priority": "u=1, i",
          "referer": "https://preview--engage-data-direct.lovable.app/",
          "sec-ch-ua": "\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "170.0.153.6",
          "x-forwarded-host": "n8n.grupohernandes.com",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "33468d43b50c",
          "x-real-ip": "170.0.153.6"
        },
        "params": {},
        "query": {},
        "body": {
          "message": "Preciso saber mais sobre os alunos que estão cursando Ciencia de Dados",
          "timestamp": "2025-06-15T20:22:46.421Z",
          "user_id": "chat_user"
        },
        "webhookUrl": "https://n8n.grupohernandes.com/webhook/5234fb23-85c7-4ef4-91d1-0f28bf6ddd26",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "4bf73fce60055ab24555b5964b2ff298dfe4a4e3140d681a429bac107b5dd1e0"
  }
}
